opencv2.framework
AWSiOSSDK.framework
build
Constantijn/Constants.h
Constantijn.xcodeproj/artm.mode2v3
Constantijn.xcodeproj/artm.pbxuser
Constantijn.xcodeproj/project.xcworkspace/
Constantijn.xcodeproj/xcuserdata/
